<div class="main-page"><aside class="aside">
    <div class="aside__header">
      <div class="aside__header-info">
        {{{Button text="Новый чат" onClick=showCreateChatDialog}}}
        {{{DialogCreateChat}}}
        <span class="aside__header-info-button">
          {{{Link href="/profile" text="Профиль" onClick=goToProfile}}}
          <img src="./arrow.svg" alt="arrow" />
        </span>
      </div>
      <input class="input" type="search" />
    </div>
    {{{ChatList chats=chats}}}
  </aside>
  {{{ChatWindow}}}
  {{{DialogAddUser}}}
  {{{DialogDeleteUser}}}
</div>